.swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #4339f2; /* Customize arrow colors */
  }
  
  .swiper-pagination-bullet {
    background: #4339f2; /* Customize pagination colors */
  }
  