.product-details,
.overflow-y-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.product-details::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

.touch-device-only {
  display: none;
}



@media (hover: none) and (pointer: coarse) {
  .touch-device-only {
    display: block;
  }
}